@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

html {
  background:url("https://files.oyebesmartest.com/uploads/preview/night-sky-stars-hd-wallpaeaugb.webp");
}

body,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  padding: 32px 0px;
  padding-bottom: 128px;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

form {
  padding-bottom: 16px;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  backdrop-filter:blur(0px);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
}

.form__header {
  padding: 32px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.form__header h1 {
  font-size: 1.5rem;
  color:#fff;
  margin-bottom: 8px
}

.form__header p {
  font-size: 0.9rem;
  color:#fff;
}

form h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  color:#fff;
}

form h3 {
  box-sizing: border-box;
  border-left: 3px solid transparent;
  margin-top: 24px;
  padding: 0px 32px;
  width: 100%;
  font-size: 1.10rem;
  text-align: left;
  color:#fff;
}

#download-button {
  margin-top: 16px;
  background-color: #64FFDA;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

#download-button:hover {
  background-color: #00bfa5;
  transform: translateY(-2px);
}

#download-button:active {
  background-color: #008e76;
  transform: translateY(0px);
}


.form-group {
  box-sizing: border-box;
  width: 100%;
  padding: 24px 32px;
  border-left: 3px solid transparent;
  transition: 0.2s all;
  color:#fff;
}

.form-group:hover {
  border-left: 3px solid #64FFDA;
  color:#fff;
}

.form-date-group {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 24px 32px;
  border-left: 3px solid transparent;
  transition: 0.2s all;
  color:#fff;
}

.form-date-group:hover {
  border-left: 3px solid #64FFDA;
  color:#fff;
}

.form-date-group .form-group {
  padding: 0px;
  color:#fff;
}

.form-date-group .form-group:hover {
  border-left: 3px solid transparent;
  color:#fff;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  color:#fff;
}

.form-group label span {
  color: red;
  color:#fff;
  color:#fff;
}

form .line-break {
  width: 100%;
  height: 1px;
  margin: 16px auto;
  border-bottom: 1px solid #eee;
}

input[type=text]::placeholder,
input[type=date]::placeholder,
textarea::placeholder {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

input[type=text],
input[type=date],
textarea {
  font-size: 1.05rem;
  font-weight: 600;
  font-family: inherit;
  box-sizing: border-box;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: 0.2s border;
  width: 100%;
  font-size: 1rem;
}

textarea {
  max-width: 533px;
}

input[type=text]:focus,
input[type=date]:focus,
textarea:focus {
  outline: none;
  border-color: #1DE9B6;
}



#btn {
  font-size: 20px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

#btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

#btn:active {
  color: #000
}

#btn:active:after {
  background: transparent;
}

#btn:hover:before {
  opacity: 1;
}

#btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

